# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PhD Works\semisupervised-FGSBIR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
